@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.dashboard {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease-in-out; 
  background: linear-gradient(135deg, #fdfbfb, #4ba0cb);
}


.dashboard:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
  transform: translateY(-5px); 
}

.title {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  transition: color 0.3s ease;
}

.title:hover {
  color: #6e7dff; 
}

.formContainer {
  margin-bottom: 30px;
}


.inputField, .selectField {
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;  
  box-sizing: border-box; 
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputField:hover, .selectField:hover {
  border-color: #6e7dff;
  box-shadow: 0 2px 6px rgba(110, 125, 255, 0.6); 
  transform: scale(1.02); 
}

.button {
  padding: 12px;
  background-color: #85e873;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease; 
  width: 100%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button:hover {
  background-color: #76c468;
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}


.tableContainer {
  margin-top: 20px;
}

.employeeTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease-in-out;
 }


.employeeTable tr:hover {
  background-color: #f1f1f1;
  transform: scale(1.02); 
  transition: transform 0.2s ease-in-out; 
}

.employeeTable th, .employeeTable td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease-in-out; 
}

.employeeTable th {
  background-color: #6e7dff;
  color: white;
}


.employeeTable th:hover {
  background-color: #4a59f1;
  cursor: pointer;
}

.employeeTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.editButton, .deleteButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.2s ease-in-out; 
}

.editButton:hover {
  background-color: #e1b200;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.deleteButton:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
