.dashboard {
  padding: 20px;
}

.manageButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  padding: 10px;
  background-color: #42d8c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form {
  margin-bottom: 20px;
}

.labourList {
  margin-top: 20px;
}

.labourItem {
  margin-bottom: 10px;
}

.editButton {
  padding: 5px;
  background-color: #f7c100;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.deleteButton {
  padding: 5px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
